@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    overflow: hidden;
}
h1,h2,p{
    font-weight: 300;
}
#wrapper{
    display: flex;
    flex-direction: row;
}
#left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100vh;
}
#right{
    flex: 1;
}
#signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 2rem;
}
#logo{
    margin-top: 0%;
    margin-bottom: 5vh;
}
#signin label{
    font-size: 1rem;
    font-weight: 500;
    line-height: 2vh;
}
#logo img{
    width: 400px;
    margin-top: 0%;
}
#signin .txt-inp{
    width: 100%;
    border: 1px solid gray;
    padding: 0.5rem;
}
#rem:hover{
    cursor: pointer;
    padding-left: 0%;
}
#rem1:hover{
    padding-right: 0%;
    cursor: pointer;
}
#rl{
    margin-top: 0%;
    font-size: 0.8rem;
    color: gray;
}
#a{
    margin-top: 0.5rem;
}
#b{
    margin-top: 0.5rem;
    margin-bottom: 5vh;
}
.primary-btn{
    width: 20%;
    border: 2px solid green;
    border-radius: 10px;
    background: green;
    color: ivory;
    margin-top: 5vh;
    height: 30px;
}
a{
    text-decoration: none;
    color: rgb(36, 91, 255);
    margin-left: 7vh;
}
a:hover{
    text-decoration: underline;
    color: salmon;
}
#showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1533478684236-61e1192879e8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fGRhcmslMjBsaWJyYXJ5fGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80') no-repeat center center fixed;
    height: 100vh;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#showcase #showcase-txt{
    /* font-size: 1.5rem; */
    width: 100%;
    color: blanchedalmond;
    margin-bottom: 1.5rem;
}
#p1{
    font-size: 3rem;
    font-weight: 700;
}
#p2{
    font-size: 1rem;
}
.primary-btn:hover{
    background-color: darkcyan;
    cursor: pointer;
}
#sg{
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    font-weight: 900;
}
/* Media Queries */
@media (min-width: 1500px){
    #left{
        flex: 4;
    }
    #right{
        flex: 6;
    }
}
@media (max-width: 768px){
    body{
        overflow: auto;
    }
    #right{
        display: none;
    }
    #left{
        justify-content: start;
        margin-top: 4vh;
    }
    #logo{
        margin-bottom: 2vh;
    }
    #signin .txt-inp{
        margin-bottom: 00.7rem;
    }
}




